html {
    height: 100%;
    width: 100%;
}

body {
    list-style-type: none;
    margin: 0px;
    background-size: cover;
    background-color: #fee9ff;
}

#ul {
    list-style: none;
    padding: 2%;
}

#individual {
    background-color: #f5eeff;
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    margin-top: 2%;
    display: block;
    padding: 2%;
    padding-bottom: 2%;
    width: 50%;
    height: 10%;
    border-radius: 50px;
    box-shadow: 8px 8px 16px rgba(201, 201, 201, 0.8);
}

#top {
    background-color: #f1d3ee;
}

#home {
    text-decoration: none;
    border: none;
    background-color: #eeaff2;
    border-radius: 6px;
    font-family: "Cookie", cursive;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-left: 2%;
    margin-top: 2%;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

    #home:hover {
        transition: 0.3s;
        background-color: rgb(189, 172, 172);
        color: white;
        scale: 105%;
    }


#title {
    background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExbnJsYXllYzJyamQ0OXo5d2hyc2JwNDJ3ZGdjejY1bWhpNG5vNHdhMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/U3qYN8S0j3bpK/giphy.webp);
    background-size: cover;
    margin: auto;
    padding: 2%;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    font-family: "Cookie", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 100px;
}

#view {
    position: relative;
    text-decoration: none;
    color: black;
    border-radius: 6px;
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 5%;
    bottom: 10%;
    padding: 10px;
    width: 10%;
    cursor: pointer;
}

    #view:hover {
        transition: 0.3s;
        text-decoration: underline red;
        scale: 105%;
    }


#content{
    text-align:center;
    font-family: "Oswald", sans-serif;
}
