<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>

    <div id=top>
        <form action="/">
            <input id=home type="submit" name="return" value="Home">
        </form>
        <h1 id=title>Register</h1>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div id="background">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="flashes">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="New Username"><br><br>
            <input type="password" name="password" placeholder="New Password"><br><br>
            <input type="password" name="confirm_pass" placeholder="Confirm Password"><br><br>
            <input type="submit" id="register" name="register" value="Register">
        </form>

        <p style="color: red">{{ error_text }}</p>
    </div>
</body>
</html>
